@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 6% 15%;
      --foreground: 0 0% 87%;
      --muted: 228 12% 19%;
      --muted-foreground: 228 12% 69%;
      --popover: 228 6% 12%;
      --popover-foreground: 0 0% 97%;
      --card: 228 6% 13%;
      --card-foreground: 0 0% 92%;
      --border: 0 0% 20%;
      --input: 0 0% 23%;
      --primary: 0 0% 100%;
      --primary-foreground: 0 0% 20%;
      --secondary: 0 0% 25%;
      --secondary-foreground: 0 0% 85%;
      --accent: 228 6% 30%;
      --accent-foreground: 228 6% 90%;
      --destructive: 0 90% 45%;
      --destructive-foreground: 0 0% 100%;
      --ring: 221.2 83.2% 53.3%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight lg:text-5xl
  }
  
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0
  }
  
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight
  }
  
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight
  }
  
  p {
    @apply leading-7 [&:not(:first-child)]:mt-4
  }
  
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic
  }
  
  .lead {
    @apply text-xl text-muted-foreground
  }
  
  .large {
    @apply text-lg font-semibold
  }
  
  .small {
    @apply text-sm font-medium leading-none
  }
  
  .muted {
    @apply text-sm text-muted-foreground
  }
}
